<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885308111983-35f6funj4ps07f0cann8rjlpdvk098s8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885308111983-35f6funj4ps07f0cann8rjlpdvk098s8</string>
	<key>API_KEY</key>
	<string>AIzaSyBr8VMlbLijT7SH9kvyDLlKXflPlZ39FFk</string>
	<key>GCM_SENDER_ID</key>
	<string>885308111983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.infrenchprac</string>
	<key>PROJECT_ID</key>
	<string>infrenchprac</string>
	<key>STORAGE_BUCKET</key>
	<string>infrenchprac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885308111983:ios:e3cb129449983dd84aa19a</string>
</dict>
</plist>